# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
```
1. Python
2. R
3. SQL
```

Some of the commonly used libraries used by Data Scientists include:
```
1. pandas
2. Numpy
3. matplotlib
```

| Data Science Tools|
|-------------------|
|Jupyter Notebooks|
|Rstudio|
|ggplot2|

Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
```
-Listed popular languages for Data Science
-Listed popular libraries for Data Science
-Listed popular Data Science Tools
```

## Author
Laiba